<app-nav></app-nav>
<div class="container-fluid row">
  <div class="col mt-4">
    <app-sidenavbar></app-sidenavbar>
  </div>
  <div class="col-10 mt-4">

<div class="container mt-5">
    <h1>Transaction details</h1>

    <a routerLink="/transactions" class="btn btn-primary">Back</a>

    <div class="container col-4 border">
        <div class="form-group border row">
            <label class="col display-6 d-flex justify-content-end">ID:</label>
            <label class="col display-6 text-muted">{{ transactions.id }}</label>
        </div>

        <div class="form-group border row">
            <label class="col display-6 d-flex justify-content-end">Title:</label>
            <label class="col display-6 text-muted">{{transactions.product_name}}</label>
        </div>

        <div class="form-group border row">
            <label class="col display-6 d-flex justify-content-end">Description:</label>
            <label class="col display-6 text-muted"> {{transactions.product_desc}}</label>
        </div>
        <div class="form-group border row">
            <label class="col display-6 d-flex justify-content-end">Price:</label>
            <label class="col display-6 text-muted">₹{{ transactions.product_price }}</label>
        </div>
        <div class="form-group border row">
            <label class="col display-6 d-flex justify-content-end">Quantity:</label>
            <label class="col display-6 text-muted"> {{transactions.product_quantity}}</label>
        </div>

        <div class="form-group border row">
            <label class="col display-6 d-flex  lead  justify-content-end">Mode:</label>
            <label class="col display-6 text-muted"> {{transactions.payment_mode}}</label>
        </div>
    </div>
</div>
  </div></div>
