<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">expence tracker Dec-21</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/home" class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        <a routerLink="/transactions" class="nav-link" routerLinkActive="active">transactions</a>
        <a routerLink="/category" class="nav-link" routerLinkActive="active">Category</a>
        <a routerLink="/about" class="nav-link" routerLinkActive="active">about</a>
      </div>
      <div class="col d-flex justify-content-end text-white">
       <span class="badge rounded-pill bg-secondary1">{{loggedin_username}}</span>
      </div>
    </div>
  </div>
  <div class=" px-2">
    <button class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
</nav>

