<app-nav></app-nav>
<div class="container mt-3 border table-responsive-md shadow">
  <!-- <div class="row"> -->
  <!-- Chart -->
  <!-- <div class="container">
            <p class="display-6"> this is my chart </p>
            <div id="divChart">
                <canvas id="myChart"></canvas>
            </div>
        </div> -->
  <!-- Chart -->
  <div class="container border">
    <!-- search -->
    <div class="container">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Search User</label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" name="product_name" [(ngModel)]="product_name"
            (ngModelChange)="Search()" placeholder="Search here">
          <!-- -->
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Must be 8-20 characters long.
          </span>
        </div>
        <div class="col d-flex justify-content-end">
         <p class="lead">Total : <b class="badge bg-dark"> ₹{{total}}</b></p>
        </div>
      </div>
      <br>
    </div>
    <div data-aos="fade-up border">

      hi
    </div>
    <!-- <form>
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="query" placeholder="Search Transactions">
                        <button class="btn btn-outline-success" type="submit" name="search" value="search"
                            id="button-addon2">Search</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <button routerLink="/home" class="btn btn-success">Add Transaction</button>
                </div>
            </div>

        </form> -->
  </div>

  <table class="table table-striped mt-lg-3">
    <thead class="thead-inverse">
      <tr>
        <th (click)="sort('id')" scope="col">id<i class="fa fa-sort" aria-hidden="true"></i></th>
        <th (click)="sort('first_name')" scope="col">Transaction Name<i class="fa fa-sort"aria-hidden="true"></i></th>
        <th>Desc</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Credit/Debit</th>
        <!-- <th>Balance ₹ </th> -->
        <!-- <th>Date</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions; let i = index" [ngClass]="transaction.payment_mode === 'Debit' ? 'bg-danger-emphasis' : 'bg-success-emphasis' ">
        <td>
          {{i+1}}
        </td>
        <td>
          {{transaction.product_name}}
        </td>
        <td>
          {{transaction.product_desc}}
        </td>
        <td>
          {{transaction.product_price}}
        </td>
        <td>
          {{transaction.product_quantity}}
        </td>
        <td>
          <p [ngClass]="transaction.payment_mode === 'Debit' ? 'badge bg-danger' : 'badge bg-success' ">
            {{transaction.payment_mode}}</p>
        </td>
        <!-- <td>
                    {{transaction.createdAt}}
                </td> -->
        <td>
          <a [routerLink]="[ transaction.id, 'view']" class="btn btn-dark">View</a>
          <a [routerLink]="[ transaction.id, 'edit']" class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
                          viewBox="0 0 16 16">
                          <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                          <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
          </a>
          <a><button class="btn" type="button" (click)="deletePost(transaction.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
            </svg>
          </button></a>
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td>Sum</td><td></td><td></td>
        <td>
          <p class="badge bg-dark">₹ {{total}}</p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<!-- <div class="col-12 col-md-2">
            <h6 class="display-6"> Graph or pie chart </h6>
        </div> -->

<!-- </div> -->

<!-- <app-footer></app-footer> -->
